<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
</style>

/* shared styles */
 
.display-flex{
    display: flex;
}

.text-color-dark{
    color: #252432;
}
.text-color-one{
    color: #8987A1;
}

.text-color-two{
    color: #E95A08;
}












/* navbar styles */
.navbar{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links{
    display: flex;
    font-size: 18px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}


    .cart{
        
        height: 18px;
        margin-right: 5px;
    }


/* banner  styles */
.banner{
    display: flex;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1440px;
}
.banner-content{
    margin-top: 100px;
    min-width: 300px;
}
.banner-title{
    font-size: 3em;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 22px;
    max-width: 570px;
}
.banner-image{

}

/* Our_plants */

.Our_plants{
    max-width: 1140px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

/* .Our_plants_contains{

   
} */
.Our_plants_tittle{
    font-size: 2.5em;
    margin-bottom: 10px;
    
}

.description{
    
     margin-bottom: 10px;
    /* text-align: center; */
     font-size: 22px;
    max-width: 570px;
    margin-bottom: 40px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;

}

.product{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    /* margin: 0 50px 0 50px; */
    /* border: 10px solid #4b0707; */
}

.card{
   padding: 1px;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
    align-items: center;
    text-align: center;
}

.card p{
    margin: 10px 0;
}
.card h4{
    margin: 5px 0 10px 0;
}
.card-image{
    max-width: 100%;
    height:auto;
border-radius: 4px;
margin-bottom: 15px;
    
}

.add-to-cart{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;

}

/* FLOWER_PlANTS */
.FLOWER_PlANTS{
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-direction: ;
    align-items: center;
    gap: 40px;
    max-width: 1100px;
    margin: 60px auto;
    padding:0 20px;
    box-sizing: border-box;
}
.FLOWER_PlANTS_image{
    position: relative;
    flex:  1 ;
    min-width: 300px;
    max-width: 50%;
}
.flower-store{
    width: 100%;
    height: auto;
    display: block; 

}
.trusted-badge{
     position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
   border-radius: 50%;
   width: 120px;
   height: 120px;
   display: flex;
   flex-direction: column;
   justify-self: center;
   text-align: center;
   padding: 10px;

/* 
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px; */
}

/* join_us style */

.join_us{
   position: relative;
   z-index: 2;
   padding: 20px;
   box-sizing: 20px;
}
.join_us_title{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.join_us_title h2{
    font-size: 50px;
    margin-top: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.signup{
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: #252432 0px 0px 10px;
   
}

.email-input{
    flex: 1;
    padding: 12px 15px;
    border: none;
    outline: none;
    font-size: 16px;
}
.Subscribe-btn{
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}
.join_us img{
      border-radius: 8px;
    top: 0;
    left: 0;
    width: 100%;
}

    

/* footer styles */
.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left{
    max-width: 300px;
    margin-left: 100px;

}

.footer-center{
    display: flex;
    gap: 40px;
    
}
.footer-center ul{
    padding: 0;
    list-style: none;
}
.footer-center li{
    text-decoration: none;
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 10px;
}

.footer-center a{
    text-decoration: none;
    font-size: 20px;
    line-height: 1.8;
    margin-right: 100px;
    color: #8987A1;
}

.footer-right{
   display: flex;
   align-items: center;
   gap: 10px;
   margin-right: 100px;
   margin-bottom: 200px;
}
.footer-right img{
    width: 24px;
    height: 24px;
}